In [2]:
import configparser

config = configparser.ConfigParser()
config.read('dwh.cfg')

['dwh.cfg']

In [3]:
%load_ext sql

In [4]:

HOST = config.get('CLUSTER', 'HOST')
DB_NAME =  config.get('CLUSTER', 'DB_NAME')
DB_USER = config.get('CLUSTER', 'DB_USER')
DB_PASSWORD = config.get('CLUSTER', 'DB_PASSWORD')
DB_PORT = config.get('CLUSTER', 'DB_PORT')

# postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}" \
                        .format(DB_USER, DB_PASSWORD, HOST, DB_PORT, DB_NAME)

print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.cppsmpgjzkzy.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

In [5]:
%%sql
count_user << select count(*) as total_user from user_dimtable

 * postgresql://dwhuser:***@dwhcluster.cppsmpgjzkzy.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
Returning data to local variable count_user

In [6]:
print("Total User = " + str(count_user))

Total User = +------------+
| total_user |
+------------+
|    104     |
+------------+

In [7]:
%sql SELECT COUNT(*) FROM user_dimtable;

 * postgresql://dwhuser:***@dwhcluster.cppsmpgjzkzy.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(104,)]

In [8]:
%sql SELECT COUNT(*) FROM time_dimtable;

 * postgresql://dwhuser:***@dwhcluster.cppsmpgjzkzy.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(8023,)]

In [9]:
%sql SELECT COUNT(*) FROM song_dimtable;

 * postgresql://dwhuser:***@dwhcluster.cppsmpgjzkzy.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [10]:
%sql SELECT COUNT(*) FROM artist_dimtable;

 * postgresql://dwhuser:***@dwhcluster.cppsmpgjzkzy.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(10025,)]

In [11]:
%sql SELECT COUNT(*) FROM songplay_facttable;

 * postgresql://dwhuser:***@dwhcluster.cppsmpgjzkzy.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(326,)]

In [12]:
%sql SELECT * FROM songplay_facttable LIMIT 2;

 * postgresql://dwhuser:***@dwhcluster.cppsmpgjzkzy.us-west-2.redshift.amazonaws.com:5439/dwh
2 rows affected.

[(7, '10007-06-27 04:40:39+00', 72, 'paid', 'SODOLVO12B0B80B2F4', 'AR6XPWV1187B9ADAEB', 381, 'Detroit-Warren-Dearborn, MI', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:30.0) Gecko/20100101 Firefox/30.0'),
 (14, '10007-06-27 04:40:39+00', 95, 'paid', 'SOPANEB12A8C13E81E', 'ARSW5F51187FB4CFC9', 152, 'Winston-Salem, NC', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"')]

In [13]:
%%sql
stag_event << select count(*) as stag_event from staging_events

 * postgresql://dwhuser:***@dwhcluster.cppsmpgjzkzy.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
Returning data to local variable stag_event

In [14]:
stag_event

[(16112,)]

In [15]:
%%sql
stag_song << select count(*) as stag_song from staging_songs

 * postgresql://dwhuser:***@dwhcluster.cppsmpgjzkzy.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
Returning data to local variable stag_song

In [16]:
stag_song

[(29792,)]

In [ ]:
%%sql
SELECT CONCAT(user_dimtable.first_name, user_dimtable.last_name) as user, song_dimtable.title as song, artist_dimtable.name as artist, time_dimtable.day, time_dimtable.month, time_dimtable.year
FROM songplay_facttable
JOIN song_dimtable ON (songplay_facttable.song_id = song_dimtable.song_id)
JOIN artist_dimtable ON (songplay_facttable.artist_id = artist_dimtable.artist_id)
JOIN user_dimtable ON (songplay_facttable.user_id = user_dimtable.user_id)
JOIN time_dimtable ON (songplay_facttable.start_time = time_dimtable.start_time)
LIMIT 5;